body{
    background: linear-gradient(to bottom, #22c2b4,  #2c6add);
    width:100vw;
}

h1{
    color: black;

}
h1 ,div{
    text-align: center;
    

}
.head{
    color: rgb(255, 221, 0);
}
form{
    border:solid antiquewhite;
   background-image: url(liquid-design-template-series-11201783.jpg);
    margin:2% 30% 1% 30%;
   height:400px;
   min-width: fit-content;
    display:grid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button{
    font-size: large;
    width:150px;
    margin-left:5% ;
    margin-top: 7%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#username,#password{
    margin-right:2%;
    margin-top:2%;
}
#password{
    margin-left: 1px;
    
}
#username{
    margin-top: 5%;
}

.end{
    color:rgb(78, 15, 225);
    margin:10% 0% 0% 0%;
    font-style: italic;
}
button:hover{
    background-color:aqua;
}
form:hover{
    
    background-image: url(abstract-rainbow-wave-line-14065162.jpg);
}

span{
    color: aliceblue;
}
label, input{
    margin-top:10%;
   
}
